
#tab{
    left: 200px;
    position: absolute;
    top: 300px;
}
#pilt19{
    left: 200px;
    position: absolute;
    top: 700px;
}
#pilt20{
    left: 800px;
    position: absolute;
    top: 300px;
}
#primer{
    left: 800px;
    position: absolute;
    top: 250px;
}